:root{
    --primary-color:rgb(26, 114, 214);
    --secondary-color:rgb(211, 10, 10);
    --tertiary-color:rgba(2, 3, 20, 0.896);
    --text-color:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

.escuro {

 --primary-color:purple;
    --secondary-color:rgb(206, 31, 145);
    --tertiary-color:black;
    --text-color:black;
}


}
body {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 15px 10px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;

    display: flex;
    gap: 10px;
    align-items: center; /*Alinhamento vertical*/
    justify-content: center; /*Alinhamento horizontal*/
    background-color: var(--primary-color);
}

header button {

    position: absolute;
    top: 25px;
    right: 25px;

    padding: 1vw;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

header button:hover {
    padding: 1vw;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header button:active {
    border: 2px solid var(--text-color);
    background-color: var(--primary-color);
    color: var(--text-color);

}




header img {
    width: 20vw;
}

header h1 {
    font-size: 8vw;
    color: var(--text-color);
    
}

.noticias {
    margin: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.noticia {
    width: 300px;
    padding: 15px;
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.noticia h2 {
    text-align: center;
    margin-bottom: 10px;
}



