:root {
    --primary-color: #013f6af4;
    --secondary-color: #810202;
    --tertiary-color: #66c9fab1;
    --text-color: #f9fafc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.escuro {
    --primary-color: #66c9fab1;
    --secondary-color: #f76565;
    --tertiary-color: #013f6af4;
    --text-color: #000951;
}

body {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 15px 10px;
    border: 3px solid var(--text-color);
    border-radius: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

header img {
    width: 15vw;
}

header h1 {
    font-size: 4vw;
}

.botao_tema {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.formulario {
    width: 600px;
    max-width: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border: 3px solid var(--text-color);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 15px;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.formulario button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.formulario button:hover {
    opacity: 0.9;
}

#mensagem {
    text-align: center;
    font-weight: bold;
}